.poster {
    background-color:#D9D9D9;
    color: black;
    height:fit-content;
    width:fit-content;

}

.title{
    font-size: 30px;
    padding:10px;
    position: relative;
    top: 80px;
}

button {
   margin: 20px;
   margin-top: 50px;
   position:relative;
}