@font-face {
    font-family: 'Alatsi';
    src: url('../fonts/Alatsi/Alatsi-Regular.ttf') format('truetype');
}

.container {
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
   

    box-shadow:
    0 0 7px #e0b637,
    0 0 10px #e0b637,
    0 0 5px #e0b637,

    0 0 22px #ff906f,
    0 0 30px #ff906f,
    0 0 50px #ff906f,
    0 0 25px #ff906f,
    0 0 25px #ff906f;
}

.left {
    width: 50%;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: black;
    font-family: 'Alatsi';
}

.right {
    width: 50%;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: black;
    font-family: 'Alatsi';
}


.left {
    background-color: #ac944e;

}

.newMovie {
    background: #e3dcc9;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: fit-content;
}


.promo {
    background: #e3dcc9;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: fit-content;
}

.login {
    background: #e3dcc9;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: fit-content;
}

.register {
    background: #e3dcc9;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: fit-content;
}