

ul.Carousel-NowPlaying > li {
    display: inline-block;
    
}
ul.Carousel-ComingSoon > li {
    display: inline-block;
    
}

input {
    width:80em;
    margin:60px;
    padding: 10px;


}

input::placeholder {
    font-weight: bold;
}

h2 {
    padding-left: 1em;
    color: #D9D9D9;
}