body {
    background-color: #4B4242;
}

ul {
    padding: 1em;
    background-color: #D9D9D9;
    text-align: right;
    
}
  ul.NavBar > li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 1em;
    background-color: #BA1313;

}
  ul.NavBar > li:hover {
    background-color: #658C3D;
}
  ul.NavBar > li > a {
    color: white;
    text-decoration: none;
}
