body {
    background-color: #4B4242;
}

ul.NavBar {
    padding: 1em;
    background-color: #D9D9D9;
    text-align: right;
    
}
  ul.NavBar > li {
    display: inline-block;
    margin-right: 1em;
    background-color: #D9D9D9;

}
  ul.NavBar > li > button:hover {
    background-color: #658C3D;
    border-color: #658C3D;
}
  ul.NavBar > li > button {
    
    background-color: var(--theatreRed);
    color: white;
    border-color: var(--theatreRed);
    margin: 1em;
    padding: 1em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    text-decoration: none;

}
