@font-face {
    font-family: 'Alatsi';
    src: url('../../fonts/Alatsi/Alatsi-Regular.ttf') format('truetype');
}

.container {
    width: 50rem;
    margin: 5rem auto;
}

.pf-info, .pa-info, .set {
    width: 33.33%;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: black;
    font-family: 'Alatsi';
}

.pf-info {
    background-color: #ac944e;

}

.edit-profile-info, .profile-info, .payment-info, .settings, .edit-billing {
    background: #e3dcc9;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: 400px;
}

.profile-info label {
    line-height: 2;
}

.carousel {
    position: relative;
}

.carousel_card {
    height: 100px;
    width: 180px;
    background-color: teal;
    font-family: courier, monospace;
    color: white;
    font-weight: bold;
    display: none;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.carousel_card--selected {
    display: block;
}

.carousel {
    width: fit-content;
    
}
.carousel_nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel_btn {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 50%; 
    margin: 0 5px;
    cursor: pointer;
}

.carousel_btn--selected {
    background: rgba(255, 255, 255, 0.742);
}
#confirm-profile-btn {
    background-color: black;
    border: none;
    padding: 15px;
    float: right;
    font-family: 'Alatsi';
    margin-top: 10px;
}

#confirm-bill-btn {
    background-color: black;
    border: none;
    padding: 15px;
    float: right;
    font-family: 'Alatsi';
}

#edit-profile-btn {
    background-color: black;
    border: none;
    padding: 15px;
    float: right;
    font-family: 'Alatsi';
}

#edit-bill-btn {
    background-color: black;
    border: none;
    padding: 10px;
    font-family: 'Alatsi';


}
#add-card-btn {
    background-color: black;
    border: none;
    padding: 10px;
    font-family: 'Alatsi';

}

#delete-btn {
    background-color: black;
    border: none;
    padding: 15px;
    font-family: 'Alatsi';

}

form {
    margin: 10px;
}

.billing-info {
    margin-top: -50px;
}
.settings {
    font-weight: bold;
}