@font-face {
    font-family: 'Limelight';
    src: url('../../fonts/Limelight/Limelight-Regular.ttf') format('truetype');
  
}

h2 {
    text-align: left;
    margin-top: 1.6em;
    font-family: 'Limelight';
    color: #D9D9D9;
    text-decoration: underline;

}
ul.Carousel-NowPlaying > li {
    display: inline-block;
    
}
ul.Carousel-ComingSoon > li {
    display: inline-block;
    
}

h2 {
    padding-left: 1em;
    color: #D9D9D9;
}