@font-face {
    font-family: 'Alatsi';
    src: url('../../fonts/Alatsi/Alatsi-Regular.ttf') format('truetype');
}
.theater {
    transform: translate(33%, 20%);

}

#screen {
    width: 500px;
    height: 25px;
    background-color: grey;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.seatRow {
    display: grid;
    grid-template-columns: repeat(30,1fr);
}

.seatLayout-top {
    margin-bottom: 30px;
}



.seat {
    background-color: grey;
    height: 30px;
    width: 30px;
    margin: 10px;
    

}

.seat:hover {
    background-color: #e0b637;
}


.seat .tooltiptext {

    visibility: hidden;
    width: 30px;
    background-color: #e0b637;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: 'Alatsi';

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.seat:hover .tooltiptext {
    visibility: visible;
}

#seat-btn {
    background-color: #BA1313;
    border-color: #BA1313;
    border: none;
    padding: 15px;
    margin: 10px;
    font-family: 'Alatsi';
    color: white;
}

#seat-btn:hover {
    background-color: #658C3D;
}

.ticket-drop {
    padding: 10px;
    margin: 10px;
    background-color:#e0b637;
    color: white;
    font-family: 'Alatsi';
}


.ticket-num {
    background-color: rgba(0, 0, 0, 0.426);
    color: white;
    border-style: solid ;
    border-color: #e0b637;
}